* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    justify-content: stretch;

}

header {
    display: inline-block;
    width: 100%;
    height: 15%;
    background: linear-gradient(120deg, #011831, #0b3f8c);
    font-size: 22px;
    padding: 10px 0;
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
}

header h1 {
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: #f5f5f5;
    margin: 0 auto;
    font-size: 20px;

}

.logo {
    width: auto;
    height: 50px;
    padding-top: 10px;
    text-align: left;
    margin: 0 auto;
}



body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    margin: 0 auto;
    background: #e1e7ee;
    border: 1px solid #385069;
}



.principal {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    justify-content: center;
}


.principal textarea {
    width: 80%;
    height: 130px;
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: 25px auto;
    color: #020240;
    /*  text-indent: 1em; sangria en el texto*/
}

#condicion {
    font-size: 20px;
    color: rgb(6, 16, 117);
    margin: 0 auto; 
    text-align: center;

}

.botones button,
#copia {
    padding: 20px auto;
    height: 40px;
    width: 40%;
    flex-direction: row;
    justify-content: stretch;
    background-color: #032e64;
    color: ghostwhite;
    border: none;
    border-radius: 12px;
    margin: 15px 5px;
    cursor: pointer;
}

.botones button:disabled, #copia:disabled {
    background:  #82a0c5;
    border: 2px solid  #032e64;
    
} 




.resultado {
    width: 100%;
    height: 50%;
    margin: 10px;
    display: flex;
    
}


.resultado textarea {
    width: 60%;
    height: 150px;
    text-align: center;
    margin: 3px auto;
    border: none;
    font-weight: bold;
    color: #0b3f8c;
    font-size: 17px;
    background: transparent;
}

#foto {
    width: 40%;
    height: 45%;
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: top;

}




footer {
    display: block;
    background: linear-gradient(120deg, #011831, #0b3f8c);
    width: 100%;
    height: 60px;
    text-align: center;
    color: aliceblue;
    font-family: monospace;
    font-size: 16px;
    padding: 15px 35px;
    margin-top: 15px;

}


@media only screen and (min-width:540px) {
    
    header {
        height: 35%;
    }
    
    .logo{
        margin-left: 30px;
        height: 68px;
    }

    header h1 {
        font-size: 30px;
        clear: right;
        text-align: center;
        justify-items: center;
        padding-left: 30%;
     
    }

    .botones button,
    #copia {
        height: 50px;
        width: 20%;
        margin-right:25px;
        font-size: 16px;

    }

    #foto {
        width: 47%;
        height: 50%;
        padding-right: 200px;
        margin-top: 15px;

    }

    .principal textarea {
        width: 60%;
        height: 180px;
        font-size: 23px;

    }

    .resultado {
        width: 65%;
        height: 60%;
        margin: 25px auto;
        background-color: whitesmoke;
        border-radius: 15px;
        justify-content: center;
    } 

    .resultado textarea {
        width: 45%;
        height: 150px;
        background-color: whitesmoke;
        font-size: 23px;
        margin: 30px;
        text-align: center;
    } 

}